<section class="">

	<div class="box text-center">
		<h1>Jungle Jumble</h1>
	</div>

	<div id="jumbles-body" class="box">
		<!-- TODO: Create box that displays the form text for creating your own jumble and includes the highest score for time -->
		<h4>Easy Jumble</h4>
		<p id="jumbles-body">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing
			industries for previewing layouts and visual mockups.</p>
	</div>

	<div class="box">
		<!-- TODO: Create text box form that user types in to complete the challenge -->
		<form action="">Form with input textbox for challenge</form>
	</div>

	<div class="box">
		<h4 class="text-center">Jumbles!</h4>
		<!-- TODO: Create box w/ form that displays all created jumbles, their high scores, the start buttons, and the create jumble form itself + create button -->
		<span id="jumbles-list"></span>
	</div>

</section>