<section class="container-fluid">
	<span class="row">

		<div class="col-6">

			<div class="box text-center w-50">
				<h1>Jungle Jumble</h1>
			</div>

			<div id="active-jumble" class="box">
				<!-- TODO: Create box that displays the form text for creating your own jumble and includes the highest score for time -->
				<span class="row justify-content-between">
					<h4 class="col-4">Easy Jumble</h4>
					<h5 class="col-8 text-end">Fastest Time: 32.4s</h5>
				</span>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit cum dolorum aperiam porro
					odit nihil
					delectus at illum nesciunt, eos culpa animi eum nisi sapiente repudiandae consequuntur, aspernatur ullam
					assumenda.</p>
			</div>

			<div class="box">
				<!-- TODO: Create text box form that user types in to complete the challenge -->
				<div id="jumbles-body">
					<form onsubmit="app.JumblesController.submitJumble()">
						<div class="form-group my-3">
							<textarea class="form-control" id="jumble-area" name="body" rows="9"
								placeholder="write EXACTLY what the above text says"></textarea>
						</div>
						<button class="col-12 text-center justify-content-center py-2 my-1 fs-5 submitButton">submit</button>
					</form>
				</div>
			</div>

		</div>

		<div class="col-6">
			<div class="box">
				<!-- TODO: Create box w/ form that displays all created jumbles, their high scores, the start buttons, and the create jumble form itself + create button -->
				<h4 class="text-center fs-2">Jumbles!</h4>
				<div class="row p-3 justify-content-between text-left fs-4 align-items-center" id="jumbles-list">
					<!-- inputted content from Jumble.js -->
				</div>

				<div class="mt-3">
					<hr />
					<h4 class="text-center">Create Jumble</h4>
					<hr />
					<form>
						<div class="form-group mb-2">
							<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name of jumble">
						</div>
						<div class="form-group my-3">
							<textarea class="form-control" id="exampleFormControlTextarea1" rows="4"
								placeholder="Jumble text"></textarea>
						</div>
						<button class="col-12 text-center justify-content-center py-2 my-1 fs-5 startButton">create +</button>
					</form>
				</div>
			</div>
		</div>

	</span>
</section>