:root {
	--primary: #f393fd;
	--primary-darken: #af2cbc;
	--primary-lighten: #f6c5fb;
	--bg: rgb(224, 217, 217);
	--shadow: 2px 0 8px rgba(0, 0, 0, .3);
	--corners: 4px;
	--text-color: #3a3838;
	--dark: #3a3838;
	--dark-lighten: #504c4c;
	--light: #f8f7f7;
}

body {
    background-color: var(--bg);
	font-family: "Permanent Marker", cursive;
	font-size: 16pt;
	color: var(--text-color);
}

header {
	margin: 3em 0;
}

img {
	width: 100%;
}

form {
	margin: 0;
}

input {
	background-color: transparent;
	border: none;
	border-bottom: 1px solid var(--text-color);
	outline: none;
	font-size: 14pt;
}

button {
	background-color: var(--primary);
	color: var(--light);
	border: 1px solid var(--primary-darken);
	border-radius: var(--corners);
	box-shadow: var(--shadow);
	text-transform: uppercase;
	transition: all .2s ease;
	cursor: pointer;
	padding: 1em;
}
button:hover {
	background-color: var(--primary-darken);
}
.game-container {
	height: 300px;
}


/***************************************************************/
.pump {
	margin-top: 80px;
	height: 130px;
	width: 180px;
	position: relative;
	align-self: flex-end;
}
.handle {
	height: 10px;
	width: 80px;
	background-color: var(--dark-lighten);
	position: absolute;
	top: -80px;
	left: 50px;
	display: flex;
	justify-content: center;
	transition: all .05s linear;
	z-index: 1;
}
.handle::before {
	content: " ";
	background-color: var(--dark-lighten);
	width: 10px;
	height: 80px;
	display: block;
}
.pump:active .handle {
	top: -20px;
}
.pump-box {
	background-color: var(--primary-lighten);
	height: 130px;
	width: 180px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	z-index: 2;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	user-select: none;
}
.pump-box span {
	background-color: antiquewhite;
	padding: .5em;
}
/***************************************************************/

.balloon {
    height: 140px;
    width: 100px;
    background-color: blue;
    border-radius: 50%; /* Changes the border of the balloon background */
	transition: all .2s ease;
	animation: balloon-float 5s ease-in-out infinite;
	align-self: flex-end;
	margin: 0 auto;
	box-shadow: inset -10px -10px 12px rgba(255, 255, 255, 0.3),
				inset 10px 10px 12px rgba(255, 255, 255, 0.3);

	background: linear-gradient(-45deg, #430101 0%, #fa1e01 60%,
								#ff0000 80%, #ffffff 100%);
}

.balloon.green {
	filter: hue-rotate(130deg);
}
.balloon.blue {
	filter: hue-rotate(225deg);
}
.balloon.purple {
	filter: hue-rotate(276deg);
}
.balloon.pink {
	filter: hue-rotate(325deg);
}

@keyframes balloon-float {
	0%, 100% {
		transform: translateY(-25px) rotate(5deg);
	}
	50% {
		transform: translateY(0px) rotate(-5deg);
	}
}

.container {
	width: 50%;
	margin: auto;
}

@media screen and (max-width: 700px) {
	.container {
		width: 90%;
	}
}

.card {
	background-color: var(--light);
	padding: 1em;
	filter: drop-shadow(var(--shadow));
	border-radius: var(--corners);
}

.shadow {
	filter: drop-shadow(var(--shadow));
}


.bg-dark {
	background-color: var(--dark);
}
.text-light {
	color: var(--light);
}

.btn-dark {
	background-color: var(--dark-lighten);
	border-color: var(--dark);
}
.btn-dark:hover {
	background-color: var(--dark);
	border-color: var(--dark-lighten);
}



.d-flex {
	display: flex;
	align-items: center;
}
.d-flex.space-between {
	/* space between only works with display: flex */
	justify-content: space-between;
}
.d-flex.space-around {
	justify-content: space-around;
}


/***************************************************************/
/* 						  MARGIN TOP						   */
.mt-1 {
	margin-top: .5em;
}
.mt-2 {
	margin-top: 1em;
}
.mt-3 {
	margin-top: 1.5em;
}
/***************************************************************/
/* 						  MARGIN BOTTOM						   */
.mb-1 {
	margin-bottom: .5em;
}
.mb-2 {
	margin-bottom: 1em;
}
.mb-3 {
	margin-bottom: 1.5em;
}
/***************************************************************/

.text-center {
	text-align: center;
}

.hidden {
	display: none !important;
}