<section class="row pkmFontBody justify-content-evenly container-fluid">

	<!-- SECTION: POKEMON CARD -->
	<section class="col-6 p-3">
		<div class="card-border text-center d-flex justify-content-center bgRed">
			<div class="brd-title bgWhite w-50 mx-auto">
				<h4 class="my-0 py-3">Umbreon ✨</h4>
			</div>
		</div>

		<div class="card-img d-flex justify-content-center py-2">
			<img src="../assets/img/umbreon.png" alt="image of umbreon">
		</div>

		<div class="card-border bgRed">
			<div class="bgWhite borderBody p-1 row align-items-center justify-content-between w-75 mx-auto">
				<div class="col-6 my-0 py-2">
					<h5>Height: 1</h5>
				</div>
				<div class="col-6 my-0 py-2 text-end">
					<h5>Weight: 1</h5>
				</div>
				<div class="col-6 my-0 py-2">
					<h5>Types: Dark</h5>
				</div>
				<div class="col-6 my-0 py-2 text-end">
					<button class="catch-btn pb-1"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;Catch</button>
				</div>
			</div>
		</div>
	</section>


	<!-- SECTION: POKEMON LIST -->
	<section class="col-5 p-3 row justify-content-evenly">

		<ul class="align-items-center pkmList py-2 px-4 col-6 bgWhite pb-0">
			<h5 class="text-center">My Pokemon:</h5>
			<hr>
			<div>
				<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 1</li>
				<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 2</li>
				<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 3</li>
				<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 4</li>
				<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 5</li>
				<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 6</li>
				<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 7</li>
				<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 8</li>
				<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 9</li>
				<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 10</li>
			</div>
		</ul>

		<div class="row justify-content-evenly mt-3">
			<button class="catch-btn h-50 col-3">Previous</button>
			<button class="catch-btn h-50 col-3">Next</button>
		</div>

	</section>

</section>