<section class="pkmFontBody container-fluid">
	<div class="row justify-content-evenly">

		<!-- SECTION: POKEMON CARD -->
		<section class="col-12 col-lg-7 col-xl-6 p-3" id="activePokemon">
			<div class="card-border text-center d-flex justify-content-center bgRed px-2">
				<div class="brd-title bgWhite w-100">
					<h4 class="my-0 py-3">Umbreon ✨</h4>
				</div>
			</div>

			<div class="d-flex justify-content-center py-2">
				<img src="assets/img/umbreon.png" alt="image of umbreon" class="card-img">
			</div>

			<div class="card-border bgRed px-2">
				<div class="bgWhite borderBody p-1 row align-items-center justify-content-between mx-auto">
					<div class="col-12 col-md-6 my-0 py-2">
						<h5>Height: 1</h5>
					</div>
					<div class="col-12 col-md-6 my-0 py-2 text-md-end">
						<h5>Weight: 1</h5>
					</div>
					<div class="col-12 col-md-6 my-0 py-2">
						<h5>Types: Dark</h5>
					</div>
					<div class="col-12 col-md-6 my-0 py-2 text-center text-md-end">
						<button class="catch-btn pb-1"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;Catch</button>
					</div>
				</div>
			</div>
		</section>


		<!-- SECTION: POKEMON LIST -->
		<section class="col-12 col-lg-5 p-3 justify-content-center d-flex">
			<div class="bgWhite pkmList h-100 d-flex flex-column gap-2">

				<!-- <h5 class="text-center pt-4 mb-0 fs-3">Wild Pokemon:</h5>
				<hr> -->
				<div class="d-flex justify-content-between gap-2 p-2 mt-3">
					<button class="catch-btn text-center" onclick="app.WildPokemonsController.viewWildPokemon()">
						View Wild Pokemon
					</button>
					<button class="catch-btn text-center" onclick="app.WildPokemonsController.viewCaughtPokemon()">
						View Caught Pokemon
					</button>
				</div>
				<hr>

				<ul id="wildPokemon" class="removeListStyle py-2 px-4">

					<li class="fs-5 my-2" onclick="app.WildPokemonsController.setActivePokemon('')"><i
							class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 1</li>
					<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 2</li>
					<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 3</li>
					<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 4</li>
					<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 5</li>
					<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 6</li>
					<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 7</li>
					<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 8</li>
					<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 9</li>
					<li class="fs-5 my-2"><i class="mdi mdi-pokeball fs-4"></i>&nbsp;pkm 10</li>

				</ul>
				<div class="d-flex justify-content-evenly my-3 mt-auto">
					<button id="lastBtn" class="catch-btn py-3 py-md-2" onclick="app.WildPokemonsController.previousPage()">
						Last
					</button>

					<button id="nextBtn" class="catch-btn py-3 py-md-2" onclick="app.WildPokemonsController.nextPage()">
						Next
					</button>
				</div>

			</div>
		</section>

	</div>
</section>