<section id="my-snacks" class="container-fluid d-flex flex-wrap justify-content-center">

	<div class="card col-12 col-md-3" style="width: 18rem;">
		<img src="assets/img/brusselsSprouts.jpg" class="card-img-top cardImg" alt="...">
		<div class="card-body">
			<span class="row">
				<h5 class="card-title">Brussels Sprouts</h5>
				<p class="card-text">$04.25</p>
			</span>
			<button class="mt-2" onclick="app.SnacksController.buySnack('sample')">
				<span>BUY</span>
				<svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
					<path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
				</svg>
			</button>
		</div>
	</div>

	<div class="card col-12 col-md-3" style="width: 18rem;">
		<img src="assets/img/milk.jpg" class="card-img-top cardImg" alt="...">
		<div class="card-body">
			<span class="row">
				<h5 class="card-title">Milk for shoes</h5>
				<p class="card-text">$02.25</p>
			</span>
			<button class="mt-2">
				<span>BUY</span>
				<svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
					<path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
				</svg>
			</button>
		</div>
	</div>

	<div class="card col-12 col-md-3" style="width: 18rem;">
		<img src="assets/img/Meatballs.jpg" class="card-img-top cardImg" alt="...">
		<div class="card-body">
			<span class="row">
				<h5 class="card-title">Meatballs</h5>
				<p class="card-text">$06.25</p>
			</span>
			<button class="mt-2">
				<span>BUY</span>
				<svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
					<path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
				</svg>
			</button>
		</div>
	</div>

	<div class="card col-12 col-md-3" style="width: 18rem;">
		<img src="assets/img/huel.jpg" class="card-img-top cardImg" alt="...">
		<div class="card-body">
			<span class="row">
				<h5 class="card-title">Huel</h5>
				<p class="card-text">$30.50</p>
			</span>
			<button class="mt-2">
				<span>BUY</span>
				<svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
					<path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
				</svg>
			</button>
		</div>
	</div>

	<div class="card col-12 col-md-3" style="width: 18rem;">
		<img src="assets/img/veggieBowl.jpg" class="card-img-top cardImg" alt="...">
		<div class="card-body">
			<span class="row">
				<h5 class="card-title">Veggie Bowl</h5>
				<p class="card-text">$09.75</p>
			</span>
			<button class="mt-2">
				<span>BUY</span>
				<svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
					<path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
				</svg>
			</button>
		</div>
	</div>

	<div class="card col-12 col-md-3" style="width: 18rem;">
		<img src="assets/img/kebabs.jpg" class="card-img-top cardImg" alt="...">
		<div class="card-body">
			<span class="row">
				<h5 class="card-title">Kebabs</h5>
				<p class="card-text">$04.45</p>
			</span>
			<button class="mt-2">
				<span>BUY</span>
				<svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
					<path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
				</svg>
			</button>
		</div>
	</div>

	<div class="card col-12 col-md-3" style="width: 18rem;">
		<img src="assets/img/teriyakiBowl.jpg" class="card-img-top cardImg" alt="...">
		<div class="card-body">
			<span class="row">
				<h5 class="card-title">Teriyaki Bowl</h5>
				<p class="card-text">$05.00</p>
			</span>
			<button class="mt-2">
				<span>BUY</span>
				<svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
					<path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
				</svg>
			</button>
		</div>
	</div>

	<div class="card col-12 col-md-3" style="width: 18rem;">
		<img src="assets/img/veggieWrap.jpg" class="card-img-top cardImg" alt="...">
		<div class="card-body">
			<span class="row">
				<h5 class="card-title">Veggie Wrap</h5>
				<p class="card-text">$7.75</p>
			</span>
			<button class="mt-2">
				<span>BUY</span>
				<svg viewBox="-5 -5 110 110" preserveAspectRatio="none" aria-hidden="true">
					<path d="M0,0 C0,0 100,0 100,0 C100,0 100,100 100,100 C100,100 0,100 0,100 C0,100 0,0 0,0" />
				</svg>
			</button>
		</div>
	</div>

</section>