/* BASIC STYLES HERE */
body {
	background-image: url("../img/background.png");
}

.hidden {
	display: hidden;
}

.box {
	border: solid 3px;
	background-color: white;
	color: black;
	padding: 1rem;
	margin: 2rem;
	border-radius: 0.5rem;
}

.startButton {
	width: 80%;
	height: auto;
}