/* BASIC STYLES HERE */
body {
	background-image: url("../img/background.png");
}

.hidden {
	display: hidden;
}

.box {
	border: solid 3px;
	background-color: white;
	color: black;
	padding: 1rem;
	margin: 2rem;
	border-radius: 0.5rem;
}

.startButton {
	background-color: #F2CF58;
	color: white;
	border-radius: 10px;
	border: none;
	align-items: center;
}

.submitButton {
	background-color: #BC87D5;
	color: white;
	border-radius: 10px;
	border: none;
	align-items: center;
}

.form-group {
	border: solid 2.5px black;
	border-radius: 8px;
}