<section class="container-fluid">
	<div class="row">

		<!-- SECTION: GIF FINDER AREA -->
		<section class="col-12 bgGreen text-light">
			<form class="row align-items-end p-2" onsubmit="app.GiftsController.createGift()">
				<div class="form-group col-12 col-md-5">
					<label for="formGroupExampleInput" class="mb-1">Tag</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Tag goes here..."
						name="tag" required>
				</div>
				<div class="form-group col-12 col-md-5 mt-2 my-md-0">
					<label for="formGroupExampleInput2" class="mb-1">URL</label>
					<input type="text" class="form-control" id="url" placeholder="URL goes here..." name="url" required>
				</div>
				<div class="col-12 col-md-2 mt-3 my-md-0 text-center">
					<button type="submit" class="bgBlue w-75">Submit</button>
				</div>
			</form>
			<hr>
			<div class="mx-md-5 mx-2 col">
				<form class="row example p-2" onsubmit="app.GiphyController.searchGif()">
					<input type="text" placeholder="Search Gifs" name="search">
					<button type="submit"><i class="fa fa-search"></i></button>
				</form>
			</div>
		</section>

	</div>




	<!-- SECTION: GIFTS ROWS -->
	<section class="p-3">
		<div id="gifts" class="row justify-content-center">

			<div class="card col-3 mx-md-2 my-2">
				<img class="p-2" src="assets/img/janeDoe.png" alt="Avatar">
				<div class="container">
					<h4><b>John Doe</b></h4>
				</div>
			</div>

			<div class="card col-3 mx-md-2 my-2">
				<img class="p-2" src="assets/img/janeDoe.png" alt="Avatar">
				<div class="container">
					<h4><b>John Doe</b></h4>
				</div>
			</div>

			<div class="card col-3 mx-md-2 my-2">
				<img class="p-2" src="assets/img/janeDoe.png" alt="Avatar">
				<div class="container">
					<h4><b>John Doe</b></h4>
				</div>
			</div>

			<div class="card col-3 mx-md-2 my-2">
				<img class="p-2" src="assets/img/janeDoe.png" alt="Avatar">
				<div class="container">
					<h4><b>John Doe</b></h4>
				</div>
			</div>

			<div class="card col-3 mx-md-2 my-2">
				<img class="p-2" src="assets/img/janeDoe.png" alt="Avatar">
				<div class="container">
					<h4><b>John Doe</b></h4>
				</div>
			</div>

			<div class="card col-3 mx-md-2 my-2">
				<img class="p-2" src="assets/img/janeDoe.png" alt="Avatar">
				<div class="container">
					<h4><b>John Doe</b></h4>
				</div>
			</div>

			<div class="card col-3 mx-md-2 my-2">
				<img class="p-2" src="assets/img/janeDoe.png" alt="Avatar">
				<div class="container">
					<h4><b>John Doe</b></h4>
				</div>
			</div>

			<div class="card col-3 mx-md-2 my-2">
				<img class="p-2" src="assets/img/janeDoe.png" alt="Avatar">
				<div class="container">
					<h4><b>John Doe</b></h4>
				</div>
			</div>

			<div class="card col-3 mx-md-2 my-2">
				<img class="p-2" src="assets/img/janeDoe.png" alt="Avatar">
				<div class="container">
					<h4><b>John Doe</b></h4>
				</div>
			</div>

		</div>
	</section>

</section>