<section class="container-fluid">
	<div class="row justify-content-between">

		<!-- SECTION: GIF FINDER AREA -->
		<section class="col-3 bgGreen text-light">
			<h1>Gifted</h1>

			<form class="p-2">
				<div class="form-group">
					<label for="formGroupExampleInput">Example label</label>
					<input type="text" class="form-control" id="formGroupExampleInput" placeholder="Example input">
				</div>
				<div class="form-group">
					<label for="formGroupExampleInput2">Another label</label>
					<input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Another input">
				</div>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>

			<hr />

			<form class="example p-2" action="action_page.php">
				<input type="text" placeholder="Search Gifs" name="search">
				<button type="submit"><i class="fa fa-search"></i></button>
			</form>

		</section>





		<!-- SECTION: GIFTS ROWS -->
		<section class="col-9">

			<div id="gifts" class="row justify-content-evenly">

				<div class="card col-3 m-3">
					<img class="p-4" src="assets/img/janeDoe.png" alt="Avatar">
					<div class="container">
						<h4><b>John Doe</b></h4>
					</div>
				</div>

				<div class="card col-3 m-3">
					<img class="p-4" src="assets/img/janeDoe.png" alt="Avatar">
					<div class="container">
						<h4><b>John Doe</b></h4>
					</div>
				</div>

				<div class="card col-3 m-3">
					<img class="p-4" src="assets/img/janeDoe.png" alt="Avatar">
					<div class="container">
						<h4><b>John Doe</b></h4>
					</div>
				</div>

				<div class="card col-3 m-3">
					<img class="p-4" src="assets/img/janeDoe.png" alt="Avatar">
					<div class="container">
						<h4><b>John Doe</b></h4>
					</div>
				</div>

				<div class="card col-3 m-3">
					<img class="p-4" src="assets/img/janeDoe.png" alt="Avatar">
					<div class="container">
						<h4><b>John Doe</b></h4>
					</div>
				</div>

				<div class="card col-3 m-3">
					<img class="p-4" src="assets/img/janeDoe.png" alt="Avatar">
					<div class="container">
						<h4><b>John Doe</b></h4>
					</div>
				</div>

				<div class="card col-3 m-3">
					<img class="p-4" src="assets/img/janeDoe.png" alt="Avatar">
					<div class="container">
						<h4><b>John Doe</b></h4>
					</div>
				</div>

				<div class="card col-3 m-3">
					<img class="p-4" src="assets/img/janeDoe.png" alt="Avatar">
					<div class="container">
						<h4><b>John Doe</b></h4>
					</div>
				</div>

				<div class="card col-3 m-3">
					<img class="p-4" src="assets/img/janeDoe.png" alt="Avatar">
					<div class="container">
						<h4><b>John Doe</b></h4>
					</div>
				</div>

			</div>





		</section>

	</div>
</section>