<div class="container">
	<hr>
	<div class="row">
		<h2 class="text-center"><b>This is the cars page!</b></h2>
	</div>
	<hr>

	<form id="car-form" onsubmit="app.CarsController.createCar()" class="row bg-white p-3 rounded my-2 d-none">
		<div class="col-12">
			<h3>List your car</h3>
		</div>
		<div class="mb-3 col-3">
			<label for="car-make" class="text-capitalize">make</label>
			<input type="text" id="car-make" name="make" minlength="2" maxlength="15" required class="form-control">
		</div>
		<div class="mb-3 col-3">
			<label for="car-model" class="text-capitalize">model</label>
			<input type="text" id="car-model" name="model" minlength="2" maxlength="15" required class="form-control">
		</div>
		<div class="mb-3 col-3">
			<label for="car-year" class="text-capitalize">year</label>
			<input type="number" id="car-year" name="year" min="1970" max="2025" required class="form-control">
		</div>
		<div class="mb-3 col-3">
			<label for="car-price" class="text-capitalize">price</label>
			<input type="number" id="car-price" name="price" min="0" required class="form-control">
		</div>
		<div class="mb-3 col-4">
			<label for="car-color" class="text-capitalize">color</label>
			<input type="color" id="car-color" name="color" min="0" required class="form-control">
		</div>
		<div class="mb-3 col-4">
			<label for="car-imgUrl" class="text-capitalize">Picture of Car</label>
			<input type="url" id="car-imgUrl" name="imgUrl" min="0" required class="form-control">
		</div>
		<div class="mb-3 col-4">
			<label for="car-engineType" class="text-capitalize">engine type</label>
			<!-- <input type="string" id="car-engineType" name="engineType" min="0" required class="form-control"> -->
			<select class="form-select" name="engineType" id="car-engineType" required>
				<option value="2 stroke">two stroke</option>
				<option value="4 stroke">four stroke</option>
				<option value="v6">v6</option>
				<option value="v8">v8</option>
				<option value="v10">v10</option>
				<option value="v12">v12</option>
				<option value="small">small</option>
				<option value="medium">medium</option>
				<option value="large">large</option>
				<option value="chuncko">chuncko</option>
				<option value="unknown">🤔</option>
				<!-- "unknown",
      "2 stroke",
      "4 cylinder",
      "v6",
      "v8",
      "v10",
      "v12",
      "small",
      "medium",
      "large",
      "chuncko" -->
			</select>
		</div>
		<div class="mb-3 col-12">
			<label for="car-description">Description</label>
			<textarea name="description" class="form-control" id="car-description" rows="5"></textarea>
		</div>
		<div class="d-flex justify-content-end">
			<button class="btn btn-primary">Create Car <i class="mdi mdi-plus-thick"></i></button>
		</div>
	</form>


	<sections class="row" id="car-listings">

		<!-- <div class="col-12 col-md-6">
      <div class="card">
        <img class="card-img-top"
          src="https://hips.hearstapps.com/hmg-prod/images/dsc00620-1677186777.jpg?crop=0.606xw:0.680xh;0.298xw,0.260xh&resize=640:*"
          alt="">
        <div class="card-body">
          <h3 class="card-title">Make Model 2000</h3>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, facilis nam quibusdam
            ipsam dolorem nemo
            quidem quas, incidunt tempore illo voluptas corporis ea fugit maiores?</p>
          <div class="d-flex justify-content-between align-items-center">
            <p class="fw-bold fs-4">$1500</p>
            <div>
              <span class="text-secondary me-2">Charles</span>
              <img class="profile-picture profile-picture-sm"
                src="https://www.looper.com/img/gallery/professor-xs-entire-backstory-explained/intro-1587748942.jpg"
                alt="">
            </div>
          </div>
        </div>
      </div>
    </div> -->

</div>

</sections>
</div>