<div class="bg-white p-3">
	<div class="card-body">
		<p>Cars Page</p>
		<h1 class="text-center mb-5"><u>Wanna buy a car?</u></h1>
	</div>

	<section class="container">
		<form onsubmit="app.CarsController.createCar()" class="row border shadow my-3 rounded py-2">
			<h4>Or how about sell a car?</h4>
			<div class="col-4 mb-3">
				<label for="">Make</label>
				<input type="text" name="make" class="form-control" minlength="2" maxlength="25" required
					placeholder="Toyota">
			</div>
			<div class="col-4 mb-3">
				<label for="">Model</label>
				<input type="text" name="model" class="form-control" minlength="2" maxlength="25" required
					placeholder="neon">
			</div>
			<div class="col-4 mb-3">
				<label for="">Year</label>
				<input type="number" name="year" class="form-control" required min="1975" max="2030">
			</div>
			<div class="col-2 mb-3">
				<label for="">Color</label>
				<input type="color" name="color" class="form-control-color" required>
			</div>
			<div class="col-4 mb-3">
				<label for="">Mileage</label>
				<input type="range" name="mileage" class="form-range" required min="100" max="350000">
			</div>
			<div class="col-3 mb-3">
				<label for="">Price</label>
				<input type="number" name="price" class="form-control" value="100">
			</div>
			<div class="col mb-3">
				<label for="">Automatic Transmission</label>
				<input type="checkbox" name="automatic" class="form-check">
			</div>
			<div class="col-12 mb-3">
				<label for="">Image URL of car</label>
				<input type="url" name="imgUrl" class=" form-control" required>
			</div>
			<div class="mb-2">
				<button type="submit" class="btn btn-primary">submit</button>
			</div>
		</form>
	</section>

	<!-- SECTION: MODAL BUTTON ON HTML -->
	<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#car-form-modal">
		Launch demo modal
	</button> -->
</div>

<!-- SECTION: MODAL -->
<!-- <div class="modal fade" id="car-form-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				...
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary">Save changes</button>
			</div>
		</div>
	</div>
</div> -->
<!-------------------->

<section class="container">
	<div class="row" id="cars-list">

	</div>
</section>