<div class="bg-white p-3">
	<div class="card-body">
		<p>Houses Page</p>
		<h1 class="text-center mb-5"><u>Wanna buy a house?</u></h1>
	</div>

	<section class="container">
		<form onsubmit="app.HousesController.createHouse()" class="row border shadow my-3 rounded py-2">
			<h4>Or how about sell a house?</h4>
			<div class="col-4 mb-3">
				<label for="">Year</label>
				<input type="text" name="year" class="form-control" minlength="2" maxlength="25" required
					placeholder="2000">
			</div>
			<div class="col-4 mb-3">
				<label for="">Name</label>
				<input type="text" name="name" class="form-control" minlength="2" maxlength="25" required
					placeholder="Townhouse">
			</div>
			<div class="col-4 mb-3">
				<label for="">Bedrooms</label>
				<input type="number" name="bedrooms" class="form-control" required min="1975" max="2030">
			</div>
			<div class="col-2 mb-3">
				<label for="">Bathrooms</label>
				<input type="number" name="bathrooms" class="form-control" required>
			</div>
			<div class="col-4 mb-3">
				<label for="">Square Footage</label>
				<input type="number" name="sqft" class="form-control" required min="100" max="350000">
			</div>
			<div class="col-3 mb-3">
				<label for="">Price</label>
				<input type="number" name="price" class="form-control" value="100">
			</div>
			<div class="col mb-3">
				<label for="">Description</label>
				<input type="text" name="description" class="form-control">
			</div>
			<div class="col-12 mb-3">
				<label for="">Image URL of house</label>
				<input type="url" name="imgUrl" class=" form-control" required>
			</div>
			<div class="mb-2">
				<button type="submit" class="btn btn-primary">submit</button>
			</div>
		</form>
	</section>
</div>
<section class="container">
	<div class="row" id="cars-list">

	</div>
</section>