* {
	box-sizing: border-box;
}
:root {
	--primary: #abce5c;
	--primary-lighten: #b7f12e;
	--primary-darken: #6f8639;
	--bg: #e0d9d9;
	--shadow: 2px 0 5px rgba(49, 49, 49, 0.5);
	--corners: 0;
	--text-color: #3a3838;
	--dark: #3a3838;
	--dark-lighten: #504c4c;
	--light: #fdfdfd;
	--danger: #ff3737;
}

body {
	background-color: var(--bg);
	font-size: 16pt;
	color: var(--text-color);
	margin: 0;
	padding: 0;
	height: 100%;
	/* font-family: 'Catamaran', sans-serif; */
	font-family: 'Fauna One', serif;
}

header {
	height: 80px;
}
main {
	min-height: calc(100vh - (120px + 80px));
}
#welcome {
	min-height: calc(95vh - (120px + 80px));
}
footer {
	height: 120px;
}

p {
	margin: 0.5em 0;
}

img {
	max-width: 100%;
}

form {
	margin: 0;
}

label {
	display: block;
	font-size: 12pt;
}

/* ORIGINALLY no [type="text"] */
input[type='text'] {
	width: 100%;
	padding: 0.375rem 0.75rem;
	font-size: 1rem;
	color: var(--light);
	background-color: transparent;
	background-clip: padding-box;
	border: none;
	border-bottom: 1px solid var(--primary);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
input:focus {
	outline: none;
}

button {
	background-color: var(--primary);
	color: var(--light);
	border: none;
	border-radius: var(--corners);
	box-shadow: var(--shadow);
	text-transform: uppercase;
	transition: all 0.2s ease;
	cursor: pointer;
	padding: 0.5em;
}
button:focus {
	outline: none;
}
button:hover {
	background-color: var(--primary-lighten);
}

button.btn-special {
	background: transparent;
	word-wrap: normal;
	border: none;
	width: 100px;
	box-shadow: none;
	position: relative;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
button.btn-special:after {
	content: 'ADD';
	margin-top: 5px;
	font-size: 8pt;
	color: var(--primary);
}
button.btn-special:focus {
	outline: none;
}
button.btn-special:hover {
	color: var(--primary);
}
.container {
	margin: 0 0.5em;
}

.card {
	background-color: var(--light);
	padding: 1em;
	box-shadow: var(--shadow);
	border-radius: var(--corners);
}

.shadow {
	filter: drop-shadow(var(--shadow));
}

.kitten img {
	filter: drop-shadow(2px 4px 6px #1b1b1b);
	transition: all 0.35s ease;
}
.kitten.cuddly img {
	filter: drop-shadow(2px 4px 6px #fb70f4);
}
.kitten.happy img {
	filter: drop-shadow(2px 4px 6px #00ffb3);
}
.kitten.sad img {
	filter: drop-shadow(2px 4px 6px #646464);
}
.kitten.angry img {
	filter: drop-shadow(2px 4px 6px #ff0000) contrast(1);
}
.kitten.gone img {
	filter: drop-shadow(2px 4px 6px #ff0000) contrast(0);
}
.kitten.gone {
	color: var(--danger);
	pointer-events: none;
}

.bg-dark {
	background-color: var(--dark);
}
.text-light {
	color: var(--light);
}

.btn-dark {
	background-color: var(--dark-lighten);
	border-color: var(--dark);
}
.btn-dark:hover {
	background-color: var(--dark);
	border-color: var(--dark-lighten);
}

.btn-cancel {
	background-color: red;
	border-color: lightcoral;
}
.btn-cancel:hover {
	background-color: #fa4141;
	border-color: #ff3737;
}

.text-danger {
	color: var(--danger);
}

.d-flex {
	display: flex;
	align-items: center;
}
.flex-wrap {
	flex-wrap: wrap;
}
.d-flex.space-between {
	justify-content: space-between;
}
.d-flex.space-around {
	justify-content: space-around;
}
.d-flex.justify-content-center {
	justify-content: center;
}

.mt-1 {
	margin-top: 0.5em;
}
.mt-2 {
	margin-top: 1em;
}
.mt-3 {
	margin-top: 1.5em;
}

.mb-1 {
	margin-bottom: 0.5em;
}
.mb-2 {
	margin-bottom: 1em;
}
.mb-3 {
	margin-bottom: 1.5em;
}

.m-1 {
	margin: 0.5em;
}
.m-2 {
	margin: 1em;
}
.m-3 {
	margin: 1.5em;
}

.p-1 {
	padding: 0.5em;
}
.p-2 {
	padding: 1em;
}
.p-3 {
	padding: 1.5em;
}

.pt-1 {
	padding-top: 0.5em;
}
.pt-2 {
	padding-top: 1em;
}
.pt-3 {
	padding-top: 1.5em;
}

.pb-1 {
	padding-bottom: 0.5em;
}
.pb-2 {
	padding-bottom: 1em;
}
.pb-3 {
	padding-bottom: 1.5em;
}

.w-50 {
	width: 50%;
}

.text-center {
	text-align: center;
}

.action {
	cursor: pointer;
	transition: all 0.3s linear;
	filter: brightness(0.8);
}
.action:hover {
	filter: brightness(1);
}

.hidden {
	display: none !important;
}

/********** MY ADDED CSS **********/

.exampleKitten {
	font-size: 12pt;
	color: white;
	border: solid;
	background-color: var(--dark);
	border-color: var(--dark-lighten);
	width: 15rem;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.sameSize {
	display: inline-block;
	width: 31%;
}
