<section class="d-flex justify-content-center mt-3">
	<img class="navLogo" src="assets/img/navLogo.png" alt="" loading="lazy">
</section>


<section id="trivia-templates" class="container-fluid">

	<!-- SECTION: QUESTION BOX -->
	<div class="d-flex justify-content-center mt-3 mt-md-3">
		<div class="row questionBox p-2 p-md-5 mt-1 mt-md-5 mx-1 mx-0-md text-center">
			<h1 class="col-12">Who ate my lunch from the fridge?</h1>
		</div>
	</div>


	<!-- SECTION: ANSWER BOXES -->
	<div class="mt-5 d-flex justify-content-center">
		<div class="row w-100 d-flex justify-content-evenly">
			<button class="answerBoxes m-4 m-md-2 m-lg-4 col-10 col-md-5 col-lg-4" onclick="selectAnswer()">
				<h3 class="mb-1">A:</h3>
			</button>
			<button class="answerBoxes m-4 m-md-2 m-lg-4 col-10 col-md-5 col-lg-4">
				<h3 class="mb-1">B:</h3>
			</button>

			<button class="answerBoxes m-4 m-md-2 m-lg-4 col-10 col-md-5 col-lg-4">
				<h3 class="mb-1">C:</h3>
			</button>
			<button class="answerBoxes m-4 m-md-2 m-lg-4 col-10 col-md-5 col-lg-4">
				<h3 class="mb-1">D:</h3>
			</button>
		</div>
	</div>

</section>